# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env
render.yaml

# SQLite databases
*.db
*.sqlite
*.sqlite3
logs.csv
scheduler.log
sent_log.csv
submissions.csv

# CSV logs
*.csv

# OS junk
.DS_Store

scheduler.log

# IDE
.vscode/
.idea/

# Environment / secrets
.env.local
*.ini